/*Hero Image*/
.hero-img {
    background-image: linear-gradient(rgba(68, 208, 255, 0.6),
    rgba(143, 227, 255, 0.6)), url(images/hero-img.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.hero-img h1{
  text-align: center;
  font-size: 200%;
  padding: 100px;
}

/*Grid*/
.content-grid {
  display: grid;
  height: 100%;
  grid-gap: 40px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40% auto 30%;
  background-color: #fff;
  color: white;
  margin: 100px 100px 250px 100px;
  grid-template-areas:
    "one one one one one one one one two two two two"
    "tee tee tee tee tee tee tee tee tee tee tee tee"
    "for for for for for for fiv fiv fiv fiv fiv fiv";
}

.box {
  border: solid 3px black;
  border-radius: 10px;
}

.box h2 {
 padding: 20px;
 font-size: 150%;
 text-shadow: 2px 2px 3px rgba(0,0,0,1);
}

.box p {
  padding: 40px;
}

.one {
  background-color: red;
  grid-area: one;
}

.two {
  background-image: linear-gradient(rgba(68, 208, 255, 0.6), rgba(143, 227, 255, 0.6)),
  url(images/Years-and-Curriculum-Levels_preview.png);
  background-position: center;
  background-size: cover;
  grid-area: two;
}

.three {
  background-image: linear-gradient(rgba(68, 208, 255, 0.6), rgba(143, 227, 255, 0.6)),
  url(images/geometry-1023846_1280.jpg);
  background-size: cover;
  grid-area: tee;
}

.four {
  background-image: linear-gradient(rgba(68, 208, 255, 0.6), rgba(143, 227, 255, 0.6)),
  url(images/placeholder.jpg);
  grid-area: for;
}

.five {
  background-image: linear-gradient(rgba(68, 208, 255, 0.6), rgba(143, 227, 255, 0.6)),
  url(images/computer-1209641_1280.jpg);
  background-size: cover;
  grid-area: fiv;
}
/*Media Query Grid*/
@media screen and (max-width: 800px) {
  .content-grid{
  height: 100%;
  grid-gap: 0;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  margin: 0;
  grid-template-areas:
    "one"
    "two"
    "tee"
    "for"
    "fiv";
  }

  .box {
    border: 0;
    border-radius: 0;
  }

  .box p {
    padding: 40px;
  }
  .box h2 {
    padding: 20px;
  }
}
