/*Hero Image*/
.hero-img {
    background-image: url(images/hero-img.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*Grid*/
.content-grid {
  display: grid;
  height: 100%;
  grid-gap: 40px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40% auto 30%;
  background-color: #fff;
  color: #444;
  margin: 100px 100px 250px 100px;
  grid-template-areas:
    "one one one one one one one one two two two two"
    "tee tee tee tee tee tee tee tee tee tee tee tee"
    "for for for for for for fiv fiv fiv fiv fiv fiv";
}

.box {
  border: solid 3px black;
  border-radius: 5px;
}

.box h2 {
 padding: 20px;
 font-size: 150%;
}

.box p {
  padding: 40px;
}

.one {
  background-color: red;
  grid-area: one;
}

.two {
  background-color: blue;
  grid-area: two;
}

.three {
  background-color: green;
  grid-area: tee;
}

.four {
  background-color: yellow;
  grid-area: for;
}

.five {
  background-color: purple;
  grid-area: fiv;
}

@media screen and (max-width: 800px) {
  .content-grid{
  height: 100%;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 15% 15% 40% 15% 15%;
  margin: 100px 0 200px 0;
  grid-template-areas:
    "one"
    "two"
    "tee"
    "for"
    "fiv";
  }
  .box p {
    padding: 40px;
  }
  .box h2 {
    padding: 20px;
  }
}
