/*Hero Image*/
.hero-img {
    background-image: url(images/hero-img.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*GRID*/
.content-grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: [col] auto [col] auto [col] auto [col] auto ;
  grid-template-rows: [row] auto [row] auto [row] ;
  background-color: #fff;
  color: #444;
  margin: 40px;
}

.box {
  border: solid 3px black;
  border-radius: 5px;
  padding: 20px 100px;
  font-size: 150%;
}

.one {
  grid-column: col 1 / span 3;
  grid-row: row;
  background-color: red;
}

.two {
  grid-column: col 4 / span 1;
  grid-row: row;
  background-color: blue;
}

.three {
  grid-column: col 1 / span 4;
  grid-row: row 2;
  padding: 90px;
  background-color: green;
}

.four {
  grid-column: col 1 / span 2 ;
  grid-row: row 3 ;
  padding: 50px;
  font-size: 90%;
  background-color: yellow;
}

.five {
  grid-column: col 3 / span 2;
  grid-row: row 3;
  padding: 50px;
  font-size: 90%;
  background-color: purple;
}

@media screen and (max-width: 800px) {
  .one, .two, .three, .four, .five {
    grid-column : col  / span 1;
    padding: 50px;
  }
  .one {
    grid-row: row;
  }

  .two {
    grid-row: 2;
  }

  .three {
    grid-row: row 3;
  }

  .four {
    grid-row: row 4;
  }

  .five {
    grid-row: row 5;
  }
}
